<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Entity: {{ subject.id }} [{{ subject.title }}]</title>
</head>
<body>
<div class="container my-3">
    <h1 class="border-bottom py-2">
        <a href="{{ subject.document }}" class="link-primary link-underline-opacity-0">{{ subject.title }}</a>
        <a href="{{ subject.source }}" class="btn btn-sm btn-outline-secondary">source</a>
    </h1>
    <table class="table table-bordered table-hover text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">relation</th>
            <th scope="col">#object</th>
            <th scope="col">object</th>
            <th scope="col">point_in_time</th>
            <th scope="col">start_time</th>
            <th scope="col">end_time</th>
        </tr>
        </thead>
        <tbody>
        {% for statement in statements %}
        {% set statement_loop = loop %}
        {% for object in statement.values %}
        <tr>
            {% if loop.first %}
            <th rowspan="{{ statement.values|length }}" scope="row">{{ statement_loop.index }}</th>
            <td rowspan="{{ statement.values|length }}">{{ statement.relation.label1 }}({{ statement.relation.label2 }})</td>
            <td rowspan="{{ statement.values|length }}">{{ statement.values|length }}</td>
            {% endif %}
            <td>
                {% if object.value.type == 'WikibaseEntityId' and object.value.entity %}
                <a href="{{ object.value.entity.document }}" class="link-primary link-underline-opacity-0">{{ object.value.string }}</a>
                {% else %}
                {{ object.value.string }}
                {% endif %}
            </td>
            <td>{{ object.qualifiers.point_in_time or '' }}</td>
            <td>{{ object.qualifiers.start_time or '' }}</td>
            <td>{{ object.qualifiers.end_time or '' }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>