<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>List of Entities</title>
</head>
<body>
<div class="container my-3">
    <h1 class="border-bottom py-2">List of Entities</h1>
    <table class="table table-bordered table-hover text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Korean</th>
            <th scope="col">English</th>
            <th scope="col">#statement</th>
            <th scope="col">#qualifier</th>
            <th scope="col">doc_length</th>
        </tr>
        </thead>
        <tbody>
        {% for info in entity_list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="entity/{{ info.subject.id }}.html" class="link-primary link-underline-opacity-0">{{ info.subject.title1 }}</a></td>
            <td>{{ info.subject.title2 }}</td>
            <td>{{ info.num_statements }}</td>
            <td>{{ info.num_qualifiers }}</td>
            <td>{{ info.document_length or '' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>