<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body style="margin: 30px">
<h3><a href="https://ko.wikipedia.org/wiki/지구">지구</a> <sup><a href="https://www.wikidata.org/wiki/Q2">source</a></sup></h3>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">relation</th>
        <th scope="col">#object</th>
        <th scope="col">object</th>
        <th scope="col">point_in_time</th>
        <th scope="col">start_time</th>
        <th scope="col">end_time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th rowspan="2" scope="row">1</th>
        <td rowspan="2">다음 종류에 속함(instance of)</td>
        <td rowspan="2">2</td>
        <td><a href="https://ko.wikipedia.org/wiki/지구형 행성">지구형 행성</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://en.wikipedia.org/wiki/Inner planet">Inner planet</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th rowspan="28" scope="row">2</th>
        <td rowspan="28">자천체(child astronomical body)</td>
        <td rowspan="28">28</td>
        <td><a href="https://ko.wikipedia.org/wiki/달">달</a></td>
        <td></td>
        <td>-4527000000</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/국제우주정거장">국제우주정거장</a></td>
        <td></td>
        <td>1998-11-20</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/미르">미르</a></td>
        <td></td>
        <td>1986-02-20</td>
        <td>2001-03-23</td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/허블 우주망원경">허블 우주망원경</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/코르딜레프스키 구름">코르딜레프스키 구름</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/지구의 위성">지구의 위성</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://ko.wikipedia.org/wiki/TESS">TESS</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://en.wikipedia.org/wiki/Telstar 18V">Telstar 18V</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://en.wikipedia.org/wiki/Rings of Earth">Rings of Earth</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>...</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>